body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .container {
  width: 600px
};
.user {
  width: 200px
};
.user-item {
  list-style: none;
};
.user__item--photo {
border: 1px solid #0000;
};
.user__item--name {
  font-size: large;
};
.user__item--tag {
  font-size: medium;
};
.user__item--location {
  font-size: small;
};
.user-stats {
  display: flex;
};
.user__stats--folowers {
  font-size: small;
};
.user__stats--views {
  font-size: small;
};
.user__stats--likes {
  font-size: small;
}; */